* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slick-slide, .slick-track {
    transition-delay: 30ms;
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    max-width: 1200px;
    margin: 0 auto 32px auto;
}

.title h2 {
    font-size: 22px;
    font-weight: 700;
    margin: 0 0 80px 0;
}

.Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    transition: 0.5s;

    line-height: 80px;
    border-bottom: 1px solid rgba(250,250,250,0.3);
}


.Header .inner {
    display: flex;
    max-width: 1600px;
    justify-content: space-between;
    padding: 0 120px;
}

.Header .gnb {
    margin: 0 0 0 auto;
}

.Header .gnb>ul {
    display: flex;
    gap: 40px;
    font-size: 16px;
}

.Header .gnb>ul>li>a {
    display: block;
    padding: 0 24px;
    color: #fff;
    font-size: 16px;
}

.Header.on .gnb>ul>li>a {
    color: #333;
}

.Header .gnb>ul>li {
    position: relative;
}

.Header .gnb>ul>li .sub {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0);
    background: #f9f9f9;
    width: 150px;
    line-height: 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.Header .gnb:hover>ul>li .sub {
    top: 70%;
    opacity: 1;
    visibility: visible;
    height: 200px;
}

.Header .search a {
    color: #fff;
    font-size: 16px;
    margin: 0 40px;
}

.Header.on .search a {
color: #333;
}

.MainVisual .VisualSlide .itm {
    position: relative;
    height: 1000px;
}

.MainVisual .VisualSlide .itm::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.MainVisual .VisualSlide .itm01 {
    background: url(../images/mainbanner_001.jpg) no-repeat center center/cover;
}
.MainVisual .VisualSlide .itm02 {
    background: url(../images/mainbanner_002.jpg)no-repeat center center/cover;
}
.MainVisual .VisualSlide .itm03 {
    background: url(../images/mainbanner_005.jpg)no-repeat center center/cover;
}

.MainVisual .VisualSlide .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    width: 100%;
}

.MainVisual .VisualSlide .slogan strong {
    display: block;
    margin: 0 0 22px 0;
    font-size: 40px;
    font-weight: 700;
    text-shadow: 0 0 1px #000;
    color: #fff;
}
.MainVisual .VisualSlide .slogan p {
    font-size: 18px;
    text-shadow: 0 0 1px #000;
    color: #fff;
    line-height: 22px;
}

.MainProduct {
    position: relative;
    padding: 100px 0;
    background: #f9f9f9;
}


.MainProduct .title {
    text-align: center;
}
.MainProduct .main_product_slide {
    margin: 0 -15px;
}

.MainProduct figure {
    padding: 0 15px;
}

.MainProduct .main_product_slide .slick-dots {
    margin: 40px 0 0;
    text-align: center;
}

.MainProduct .main_product_slide .slick-dots li{
    display: inline-block;
    margin: 0 2px;
}

.MainProduct .main_product_slide .slick-dots li button {
    width: 20px;
    height: 20px;
    font-size: 10px;
    background: #333;
    color: #fff;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.MainProduct .main_product_slide .slick-dots li.slick-active button {
    background: #888;
}

.MainProduct .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1500px;
    width: 100%;
}

.MainProduct .arrows i {
    position: absolute;
    top: 0;
    transform: translate(0, -50%);

    background: #333;
    color: #fff;
    padding: 10px;

}

.MainProduct .arrows .left {
    left: 0;
}

.MainProduct .arrows .right {
    right: 0;
}


