* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    transition: 0.5s;

    line-height: 100px;
}

.Header.on {
background: #fff;
border-bottom: 1px solid rgba(250,250,250,0.3);
}


.Header .inner {
    display: flex;
    justify-content: space-between;
}

.Header .Gnb {
    margin: 0 0 0 auto;
}

.Header .Gnb>ul {
    display: flex;
    gap: 40px;
    font-size: 16px;
}

.Header .Gnb>ul>li {
    position: relative;
}

.Header .Gnb>ul>li>a {
    display: block;
    padding: 0 32px;
    color: #fff;
    font-size: 16px;
}

.Header .Gnb>ul>li .sub {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 150px;
    line-height: 40px;
    opacity: 0;
    visibility: hidden;
    background: #f9f9f9;
    transition: 0.5s;
}

.Header .Gnb>ul>li:hover .sub {
    top: 70%;
    opacity: 1;
    visibility: visible;
}

.Header .search {
    color: #fff;
    font-size: 16px;
    margin: 0 40px;
}

.Header.on .search {
color: #fff;
}

.MainVisual .VisualSlide .itm {
    position: relative;
    height: 1000px;
    object-fit: cover;
}

.MainVisual .VisualSlide .itm::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.MainVisual .VisualSlide .itm01 {
    background: url(../images/mainbanner_001.jpg);
}
.MainVisual .VisualSlide .itm02 {
    background: url(../images/mainbanner_002.jpg);
}
.MainVisual .VisualSlide .itm03 {
    background: url(../images/mainbanner_003.jpg);
}

.MainVisual .VisualSlide .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    width: 100%;
}

.MainVisual .VisualSlide .slogan strong {
    display: block;
    margin: 0 0 22px 0;
    font-size: 40px;
    font-weight: 700;
    text-shadow: 0 0 1px #000;
    color: #fff;
}
.MainVisual .VisualSlide .slogan p {
    font-size: 18px;
    text-shadow: 0 0 1px #000;
    color: #fff;
    line-height: 22px;
}